.settings {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* justify-content: space-between; */
  height: 70vh;
  background-color: grey;
  padding: 25px;
}

.element {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.change {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.return:link,
.return:visited {
  display: inline-block;
  background-color: beige;
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  width: 250px;
  height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 10px;
  text-align: center;
}

.h1 {
  text-align: center;
}

.donji {
  display: flex;
  justify-content: flex-end;
}
