<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <label for="">Password</label>
        <input type="text" id='username' name="username" placeholder="{{ user.username }}" required>
        <br>
        <label for="">Password</label>
        <input type="text" id='password' name="password" placeholder="{{ user.password }}" required>
        <br>
        <label for="">Password</label>
        <input type="text" id='name' name="name" placeholder="{{ user.name }}" required>
        <br>
        <label for="">Password</label>
        <input type="text" id='last_name' name="last_name" placeholder="{{ user.last_name }}" required>
        <br>
        <label for="">Email</label>
        <input type="text" id='email' name="email" placeholder="{{ user.email }}" required>
        <br>
        <button type="submit">Save</button>
    </form>
</body>

</html>